<!DOCTYPE html>
<html lang="en" >
  <head>
    <title>DigiBank Dev Tools - Brought to you by TITANS!</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="./bower_components/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="./bower_components/ngprogress/ngProgress.css"/>
    <link rel="stylesheet" href="assets/app.css"/>
  </head>

  <body ng-app="DigiBankDevTool" ng-cloak layout="column" ng-controller="HomeCtrl as ul" md-theme="{{theme}}" >

    <md-toolbar class="md-toolbar-tools" layout="row">
      <md-button class="menu" hide-gt-sm ng-click="ul.toggleToolsList()" aria-label="Show Tools List">
        <md-icon md-svg-icon="menu" ></md-icon>
      </md-button>

      <h1 hide-gt-sm >Dev Tool</h1>
	  <a href="/" layout="row"><img id="logo" ng-src="./assets/logo.png" hide-sm /></a>

      <span flex></span>
      <md-button class="md-icon-button md-raised" aria-label="About" ng-click="ul.showSimpleModal($event)">
        <md-icon md-svg-icon="info"></md-icon>
      </md-button>
	  <md-select ng-model="selectedTheme" placeholder="Select a theme" class="themeChooser">
        <md-option ng-repeat="themeName in ul.themeList" ng-value="themeName" ng-selected="themeName == theme">{{ themeName }}</md-option>
      </md-select>
    </md-toolbar>

    <div flex layout="row">

        <md-sidenav md-is-locked-open="$mdMedia('gt-sm')" class="md-whiteframe-z2" md-component-id="left">
          <md-list>
            <md-item ng-repeat="it in ul.tools">
                <md-item-content>
                    <md-button ng-href="#/{{it.path}}" ng-click="ul.selectTool(it)" ng-class="{'selected' : it === ul.selected }" >
                      <md-icon md-svg-icon="{{it.avatar}}" class="avatar"></md-icon>
                      {{it.name}}
                    </md-button>
                </md-item-content>
                <md-divider></md-divider>
            </md-item>
          </md-list>
        </md-sidenav>

        <md-content flex id="content" >

			<ng-viewport></ng-viewport>
			
			<md-button class="md-fab md-accent md-fab-bottom-right" ng-click="ul.share($event);ul.showSimpleToast();" aria-label="Share">
				<md-icon md-svg-icon="console"></md-icon>
			</md-button>

        </md-content>

    </div>

    <script src="https://google.github.io/traceur-compiler/bin/traceur.js"></script>
    <script src="./bower_components/angular/angular.js"></script>
	<script src="./bower_components/angular-new-router/dist/router.es5.js"></script>
    <script src="./bower_components/angular-animate/angular-animate.js"></script>
    <script src="./bower_components/angular-aria/angular-aria.js"></script>
    <script src="./bower_components/angular-material/angular-material.js"></script>
    <script src="./bower_components/ngprogress/build/ngProgress.js"></script>
    <script src="./bower_components/angular-local-storage/dist/angular-local-storage.min.js"></script>

    <script src="dist/bundle.js"></script>
    <script>
      System.get("app");
    </script>


  </body>
</html>
